<h1>muestrame el carro</h1>

<!-- <ul>
  <li><%=@car.brand%></li>

  <li><%=@car.model%></li>

  <img class="img-responsive" src="<%= @car.img_url %>">

  <br>

  <a href="/cars/<%=car.id%>/edit">Editar</a>

  <br>

  <form action="/cars/<%=car.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Borrar">
  </form>
<% end %>
</ul>

<a href="/cars/new">Create new car</a> -->
